<div id="index" class="lang-en country-us currency-usd layout-full-width page-index tax-display-disabled">
  <main>


    <header id="header">


      <nav class="header-nav">
        <div class="container">

          <div class="user-info-block">
            <a routerLink="/main/dashboard">Dashboard</a>
            <a href="loginfd9a.html" rel="nofollow" *ngIf="isLoggedIn()">My account</a>
            <a href="cart75f4.html?action=show" *ngIf="isLoggedIn()">Checkout</a>

            <a *ngIf="!isLoggedIn()" routerLink="/main/login" title="Log in to your customer account" rel="nofollow">
              <span>Sign in</span>
            </a>
            <a *ngIf="isLoggedIn()" (click)="logout()" title="Log in to your customer account" rel="nofollow">
              <span>Sign out</span>
            </a>
          </div>

        </div>
      </nav>


      <div class="header-top">
        <div class="container">
          <div class="header-conten">
            <div class="header_logo">
              <a href="http://demo.posthemes.com/pos_koparion/">
                <img class="logo img-responsive" src="assets/img/koparion-responsive-prestashop-theme-logo-15177961071.jpg" alt="Koparion - Responsive Prestashop Theme">
              </a>
            </div>
            <div class="display_top">

              <div class="blockcart cart-preview dropdown js-dropdown" data-refresh-url="//demo.posthemes.com/pos_koparion/en/module/ps_shoppingcart/ajax">
                <div class="header" data-target="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                  <a rel="nofollow" href="cart75f4.html?action=show">
                                        <span class="item_txt">My Cart
                                            <span class="item_count">0</span>
                                        </span>
                    <span class="item_total">$0.00</span>
                  </a>
                </div>
                <div class="body dropdown-menu">
                  <ul>
                  </ul>
                  <div class="price_content">
                    <div class="cart-subtotals">
                      <div class="products price_inline">
                        <span class="label">Subtotal</span>
                        <span class="value">$0.00</span>
                      </div>
                      <div class=" price_inline">
                        <span class="label"></span>
                        <span class="value"></span>
                      </div>
                      <div class="shipping price_inline">
                        <span class="label">Shipping</span>
                        <span class="value">Free</span>
                      </div>
                      <div class="tax price_inline">
                        <span class="label">Taxes</span>
                        <span class="value">$0.00</span>
                      </div>
                    </div>
                    <div class="cart-total price_inline">
                      <span class="label">Total</span>
                      <span class="value">$0.00</span>
                    </div>
                  </div>
                  <div class="checkout">
                    <a href="cart75f4.html?action=show" class="btn btn-primary">Checkout</a>
                  </div>
                </div>
              </div>

              <div class="block-search">
                <span class="search-icon" data-toggle="dropdown"></span>
                <div id="search_widget" class="search_top " data-search-controller-url="//demo.posthemes.com/pos_koparion/en/search">
                  <form method="get" action="http://demo.posthemes.com/pos_koparion/en/search">
                    <input type="hidden" name="controller" value="search">
                    <input class="text_input" type="text" name="s" value="" placeholder="Search our catalog">
                    <button type="submit">
                      <span class="icon icon-Search"></span>

                    </button>
                  </form>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <!--<script type="text/javascript">-->
      <!--//<![CDATA[-->
      <!--var CUSTOMMENU_POPUP_EFFECT = 0;-->
      <!--var CUSTOMMENU_POPUP_TOP_OFFSET = 50;-->
      <!--//]]>-->
      <!--</script>-->



    </header>

    <div class="static1_home1">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-lg-3 box1">
            <div class="box-col">
              <div class="text-des">
                <p>Free shipping item</p>
                <span>For all orders over $500</span>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-lg-3 box2">
            <div class="box-col">
              <div class="text-des">
                <p>Money back guarantee</p>
                <span>100% money back guarante</span>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-lg-3 box3">
            <div class="box-col">
              <div class="text-des">
                <p>Cash on delivery</p>
                <span>Lorem ipsum dolor amet consectetur</span>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-lg-3 box4">
            <div class="box-col">
              <div class="text-des">
                <p>Help & Support</p>
                <span>Call us : + 0123.4567.89</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <router-outlet></router-outlet>

    <footer id="footer">

      <div class="footer-container">
        <div class=" footer-top">
          <div class="container">

            <div class="links-footer">
              <a href="#">home</a>
              <a href="new-products.html">New products</a>
              <a href="#">About</a>
              <a href="#">Shop</a>
              <a href="#" class="last">Contact</a>
            </div>

          </div>
        </div>
        <div class=" footer-middle">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-8 col-xs-12">
                <div class="row">

                  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 links footer_block">
                    <h3 class="h3 hidden-sm-down">Products</h3>
                    <div class="title clearfix hidden-md-up" data-target="#footer_sub_menu_15387" data-toggle="collapse">
                      <h3 class="h3">Products</h3>
                      <span class="float-xs-right">
                                                <span class="navbar-toggler collapse-icons">
                                                    <i class="material-icons add">keyboard_arrow_down</i>
                                                    <i class="material-icons remove">keyboard_arrow_up</i>
                                                </span>
                                            </span>
                    </div>
                    <ul id="footer_sub_menu_15387" class="footer_list collapse">
                      <li>
                        <a id="link-cms-page-4-1" class="cms-page-link" href="content/4-about-us.html" title="Learn more about us">
                          About us
                        </a>
                      </li>
                      <li>
                        <a id="link-product-page-prices-drop-1" class="cms-page-link" href="prices-drop.html" title="On-sale products">
                          Prices drop
                        </a>
                      </li>
                      <li>
                        <a id="link-product-page-new-products-1" class="cms-page-link" href="new-products.html" title="Our new products">
                          New products
                        </a>
                      </li>
                      <li>
                        <a id="link-product-page-best-sales-1" class="cms-page-link" href="best-sales.html" title="Our best sales">
                          Best sales
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 links footer_block">
                    <h3 class="h3 hidden-sm-down">Our company</h3>
                    <div class="title clearfix hidden-md-up" data-target="#footer_sub_menu_74729" data-toggle="collapse">
                      <h3 class="h3">Our company</h3>
                      <span class="float-xs-right">
                                                <span class="navbar-toggler collapse-icons">
                                                    <i class="material-icons add">keyboard_arrow_down</i>
                                                    <i class="material-icons remove">keyboard_arrow_up</i>
                                                </span>
                                            </span>
                    </div>
                    <ul id="footer_sub_menu_74729" class="footer_list collapse">
                      <li>
                        <a id="link-static-page-contact-2" class="cms-page-link" href="contact-us.html" title="Use our form to contact us">
                          Contact us
                        </a>
                      </li>
                      <li>
                        <a id="link-static-page-sitemap-2" class="cms-page-link" href="sitemap.html" title="Lost ? Find what your are looking for">
                          Sitemap
                        </a>
                      </li>
                      <li>
                        <a id="link-static-page-stores-2" class="cms-page-link" href="stores.html" title="">
                          Stores
                        </a>
                      </li>
                      <li>
                        <a id="link-static-page-my-account-2" class="cms-page-link" href="loginfd9a.html" title="">
                          My account
                        </a>
                      </li>
                    </ul>
                  </div>

                  <div id="block_myaccount_infos" class="col-xs-12 col-sm-12 col-md-4 col-lg-4 footer_block links">
                    <h3 class="myaccount-title hidden-sm-down">
                      Your account
                    </h3>
                    <div class="title clearfix hidden-md-up" data-target="#footer_account_list" data-toggle="collapse">
                      <h3 class="myaccount-title">
                        Your account
                      </h3>
                      <span class="float-xs-right">
                                                <span class="navbar-toggler collapse-icons">
                                                    <i class="material-icons add">keyboard_arrow_down</i>
                                                    <i class="material-icons remove">keyboard_arrow_up</i>
                                                </span>
                                            </span>
                    </div>
                    <ul class="footer_list collapse" id="footer_account_list">
                      <li>
                        <a href="login9f3d.html" title="Addresses" rel="nofollow">
                          Addresses
                        </a>
                      </li>
                      <li>
                        <a href="login2f9b.html" title="Credit slips" rel="nofollow">
                          Credit slips
                        </a>
                      </li>
                      <li>
                        <a href="login856b.html" title="Orders" rel="nofollow">
                          Orders
                        </a>
                      </li>
                      <li>
                        <a href="login2432.html" title="Personal info" rel="nofollow">
                          Personal info
                        </a>
                      </li>

                    </ul>
                  </div>

                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4 col-xs-12 footer_block box1">

                <div class="about_us ">
                  <h3 class="h3">STORE INFORMATION</h3>
                  <div class="footer-info">
                    <div class="Company">
                      <span class="my">My Company</span>
                      <p>42 avenue des Champs Elysées 75000 Paris France.</p>
                    </div>
                    <div class="us">
                                            <span>
                                                <span>Call us now:
                                                    <span></span>
                                                </span>
                                            </span>
                      <p>(+1)866-540-3229</p>
                    </div>
                    <div class="email">
                                            <span>
                                                <span>Email:
                                                    <span></span>
                                                </span>
                                            </span>
                      <p>support@posthemes.com</p>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>

        </div>
        <div class="footer-bottom">

          <div class="container">
            <div class="row">
              <div class="copyright col-xs-12 col-sm-12 col-md-6 ">
                <p>Your Store Copyright Here.</p>
                <p>Copyright
                  <a href="http://posthemes.com/">Posthemes</a>. All Rights Reserved</p>
              </div>
              <div class="payment1 col-xs-12 col-sm-12 col-md-6 ">
                <div class="payment">
                  <img src="assets/img/cms/payment.png" alt="" class="img-responsive" />
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </footer>

  </main>

  <div class="back-top">
    <a href="#" class="back-top-button"></a>
  </div>
</div>
